@using Application.Features.Officer.Commands.DeleteCommand
@model DeletePostCommand

@{
    ViewData["Title"] = "Delete";
}


<h1>هل تريد حذف هذا</h1>
<div>
    <h3>الضابط</h3>
    <hr />
       @if(ViewBag.IsFailed){
        <div style="display:inline-block" class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong> لا يمكن حذف هذه البيانات</strong> لأعتماد بيانات أخري عليها
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden = "true">&times;</span>
              </button>
            </div>
        }
 
    <dl class="row">
        <dt class = "col-sm-2">
            الأسم
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            القسم
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department.Name)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="حذف" class="btn btn-danger" />
        <a onclick='history.go(-1)' class="btn btn-outline-info">رجوع</a>
    </form>
</div>
