@model GetOfficerDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>تفاصيل</h1>

<div>
    <h4>الضابط</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            الأسم
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            القسم
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destination.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-info">تعديل</a>
    <a onclick='history.go(-1)' class="btn btn-outline-info">رجوع إلي القائمة</a>
</div>
