<div class="text-center">
    <h1 class="text-danger">تم حظر الدخول</h1>
    <h6 class="text-danger">ليس لديك صلاحية لعرض هذه الملفات</h6>
    <img src="~/img/noaccess.png" style="height:300px; width:300px" />
</div>