@model LoginViewModels

@{
    ViewBag.Title = "User Login";
}

<div class="row">
    <div class="col-md-6">
        <h1 class="text-primary">صفحة الدخول</h1>
        <hr />
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="text-primary"></label>
                <input autofocus autocomplete="off" asp-for="Username" style="opacity:.85;" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="text-primary"></label>
                <input asp-for="Password" style="opacity:.85;" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="RememberMe" class="text-primary">
                        <input asp-for="RememberMe" />
                        @Html.DisplayNameFor(m => m.RememberMe)
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
            <div>
                <a asp-action="RegisterMe" asp-controller="Register">Dont have an account?</a>
            </div>
        </form>
    </div>
</div>